/* eniac style sheet */

/********************* body **********************/

body {
/*	font-size: 13px;*/
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FDFDFD;
	border-width: 0;
	margin-bottom: 1.5em;
	margin-top: 1.5em;
	margin-right: 1.5em;
	margin-left: 1.5em;
}

/******************** paragraphs ********************/

p.hr {
	margin: 0;
	padding: 1px;
	background-color: #999999;
}

p.highlight {
	padding: 0.2em;
	margin: 0;
	font-weight: bold;
	color: #AA6622;
}

p.navigation {
	padding: 0.2em;
	background-color: #EEEEEE;
	margin: 0;
	font-weight: bold;
}

p.cite {
	padding-left: 1em;
	font-style: italic;
}

p.img {
	text-align: center;
}

p.small {
	font-size: 0.7em;
}

/************************** table ****************************/

table.body {
	width: 100%;
	border: 0px;
	padding: 0px;
	border-spacing: 0px;
}

td.navigation {
	padding: 5px;
	background-color: #EEEEEE;
}

td.text {
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.5em;
	vertical-align: top;
	background-color: #F2F4FF;
}

td.w3c {
	padding-top: 0.5em;
	padding-left: 0;
}

td.subscript {
	font-size: 0.8em;
	text-align: right;
	vertical-align: top;
	padding-right: 0;
	padding-top: 0.5em;
}

/*********************** hyperlinks ***********************/

/* text */

a.text:link { 
	text-decoration: underline;
	color: #333333; 
}

a.text:visited { 
	text-decoration: underline;
	color: #333333; 
}

a.text:hover { 
	text-decoration: underline;
	color: #FF3333; 
}

a.text:active { 
	text-decoration: underline;
	color: #FF3333; 
}

/* navigation */

a.navigation:link { 
	text-decoration: none; 
	font-weight: bold; 
	color: #333333; 
}

a.navigation:visited { 
	text-decoration: none; 
	font-weight: bold; 
	color: #333333; 
}

a.navigation:hover {
	text-decoration: underline; 
	font-weight: bold; 
	color: #333333; 
}

a.navigation:active { 
	text-decoration: underline; 
	font-weight: bold; 
	color: #333333; 
}

/* references */

a.references:link { 
	font-style: normal;
	text-decoration: none; 
	color: #333333; 
}

a.references:visited { 
	font-style: normal;
	text-decoration: none; 
	color: #333333; 
}

a.references:hover {
	text-decoration: underline; 
	font-style: normal;
	color: #FF3333; 
}

a.references:active { 
	text-decoration: underline; 
	font-style: normal;
	color: #FF3333; 
}

/* question (no href) */

a.question {
	font-weight: bold;
	font-style: italic;
}

/********************* images *********************/

img.w3c {
	border: 0;
	width: 88px;
	height: 31px
}

img {
	border: 0;
	text-align: center;
}

/********************* character formatting ***************/

i.date {
	color: #AA6622;
	font-style: normal;
}

h1 {
	font-size: 2.5em;
	color: #AAAAAA;
}

h2 {
	padding-top: 1em;
	font-size: 1.5em;
	color: #666666;
}

/********************* other *******************/

li.paragraph {
	padding-bottom: 1em;
}
